<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulizer</title>
</head>
<body>
    <h1>{{ keyword }}</h1>
    <ul>
        {% for entry in entries %}
            <li>
                {% for attr_def in entry['Definition'] %}
                    <p><b>Definition:</b></p>
                    <p>{{ attr_def }}</p>
                    <p><b>Short Definition:</b></p>
                    <p>{{ entry['Short definition'][loop.index0] }}</p>
                {% endfor %}
                <p><b>Language:</b> {{ entry['Language'] }}</p>
                <p><b>Pronunciations:</b></p>
                <ul>
                    {% for property_list in entry['Pronunciation'] %}
                        <audio controls>
                            <source src="{{ property_list['audioFile'] }}" type="audio/mpeg">
                        </audio>
                        <p>{{ property_list['phoneticSpelling'] }}</p>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>